<div class="body">

  <app-menu></app-menu>

  <app-navbar></app-navbar>

  <app-modal-upload-object></app-modal-upload-object>

  <app-notifications-sidebar></app-notifications-sidebar>

  <app-drawer></app-drawer>

  <main>
    <app-top-navbar
      [notificationsPanelOpen]="notificationsPanelOpen" [notificationBadgeText]="notificationBadgeText"
      [badgePulse]="badgePulse"
      (notificationsClick)="toggleNotificationsPanel()" (accountClick)="onAccountClick()"></app-top-navbar>
    <section class="router-content" (click)="onRouterContentInteraction()" (touchstart)="onRouterContentInteraction()"
      (focusin)="onRouterContentInteraction()">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>