<div class="body">
  
  <app-menu></app-menu>

  <app-navbar></app-navbar>

  <app-modal-upload-object></app-modal-upload-object>

  <main>
    <app-top-navbar
      [factoringOptions]="organizationProfile()"
      [selectedFactoring]="selectedFactoring"
      [notificationsPanelOpen]="notificationsPanelOpen"
      [notificationBadgeText]="notificationBadgeText"
      [badgePulse]="badgePulse"
      (factoringChange)="onFactoringValueChange($event)"
      (notificationsClick)="toggleNotificationsPanel()"
    ></app-top-navbar>
    <router-outlet></router-outlet>
  </main>
</div>