.perfil-container {
    //padding: 0px 10px 0px 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
}

.info-data {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: var(--background-menu-actions);
    border-radius: 0 55px 55px 0;
    align-items: center;
    margin: 0 0 0 14%;
    height: 80px;

    .data {
        margin: 0 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* centra verticalmente */
        align-items: flex-start;
        /* alinea a la izquierda */
        height: 100%;

        /* espacio opcional entre nombre y correo */
        .nombre {
            font-size: x-large;

            p {
                margin: 0;
            }
        }

        .correo {
            font-size: small;

            p {
                margin: 0;
            }
        }
    }
}

.info-avatar {
    width: 110px;
    height: 110px;
    background-color: var(--background-menu);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    margin-left: 10px;
}

.imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}