<div class="perfil-container">
    <div class="info">
        <div class="info-avatar">
            <img class="imagen" [src]="dataPerfil.imgBase64" alt="Avatar" />
        </div>
        <div class="info-data">
            <div class="data">
                <div class="nombre">
                    <p>{{dataPerfil.nombre}}</p>
                </div>
                <div class="correo">
                    <p>{{dataPerfil.correo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>